.grid-tiga h1 {
    text-align: center;
    font-family: "Agency FB";
    font-size: 48px;
    color: #ffcc00;
}
.grid-tiga .sep-div {
    height: 0;
    width: 400px;
    margin: 10px auto;
    border-bottom: 1px solid #808080;
}
.grid-tiga p {
    text-align: center;
    font-family: "Agency FB";
    font-size: 32px;
    color: #808080;
}