.grid-container {
    position: fixed;
    display: grid;
    left: 80px;
    width: calc(100% - 80px);
    height: 100%;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 60px 80px 1fr;
}
.grid-satu {
    grid-column: 1;
    grid-row: 2;
    background-color: #f2f2f2;
}
.grid-dua {
    grid-column: 1;
    grid-row: 3;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #808080;
}
.grid-tiga {
    grid-column: 2;
    grid-row: 2 / span 2;
    overflow: auto;
    background-color: #ffffff;
}
.grid-empat {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    overflow: auto;
}

.grid-topnav {
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: #e6e6e6;
    background: linear-gradient(#e6e6e6, #f4f4f4);
    border-bottom: 1px solid #d6d6d6;
}
ul.content {
    list-style-type: none;
    padding: 0;
    width: 100%;
}
li.content {
    height: 75px;
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: #f2f2f2;
    font: 36px "Agency FB";
    transition: 0.4s;
}
li.content a {
    height: 100%;
    width: calc(100% - 25px);
    background-color: #f2f2f2;
    text-decoration: none;
    transition: 0.3s;
}
li.content a p {
    text-align: left;
    transform: translateY(15px);
    width: calc(100% - 25px);
    display: inline-block;
    padding-left: 20px;
    border-left: 8px solid #ffffff00;
    color: #808080;
    transition: 0.3s;
}
li.content:nth-child(even) a, li.content:nth-child(even) {
    background-color: #f9f9f9;
}
li.content a:hover:not(#no-hover):not(.active) p {
    border-left: 8px solid #00ffff;
    color: #00ffff;
}
li.content a.active p {
    border-left: 8px solid #ffcc00;
    color: #ffcc00;
}
.grid-leftnav {
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    position: fixed;
    background-color: #4d4d4d;
    z-index: 10;
}
.hyperblock:not(#non-left) div{
    height: 50px;
    width: 50px;
    margin: 20px;
    margin-left: 0;
    padding-left: 7px;
    border-left: 8px solid #ffcc0000;
    text-align: right;
    transition: 0.3s;
}
.hyperblock:not(#non-left) div.active {
    border-left: 8px solid #ffcc00;
}
.hyperblock:not(#non-left) div:hover:not(.active) {
    border-left: 8px solid #00ffff;
}
.hyperblock div img{
    filter: brightness(0) invert(1);
    transition: 0.3s;
}
.hyperblock#non-left{
    top: 0;
    padding-bottom: 10px;
}
.hyperblock#non-left div img{
    filter: brightness(0) invert(0.8);
}
.hyperblock div.active img {
    filter: brightness(1) invert(0);
}
.hyperblock div:hover:not(.active) img {
    filter: brightness(1) invert(0) hue-rotate(120deg);
}