body {
    background-color: #929292;
}

p {
    font: 24px "Agency FB";
    color: #808080;
}

p.welcome {
    height: 30px;
    font: 24px "Agency FB";
    color: #808080;
}
h1.login-h1 {
    font: bold 48px "Agency FB";
    color: #808080;
}
p.success {
    font: 24px "Agency FB";
    color: #808080;
}

div.content {
    height: 100%;
    border-top: 1px solid transparent;
    background: #ffffff;
}
div.main {
    margin: 2% 20%;
}

ul.login {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li.top {
    float: left;
    margin: 10px 6%;
}

li.log {
    width: 100px;
}

li.log a {
    width: 140px;
    display: block;
    color: black;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font: bold 22px Calibri;
    border-right: 10px solid red;
    border-radius: 4px;
    background-color: #ccc;
    transition: 0.4s;
}

li.log a:hover {
    background-color: #aaa;
}

input.logi {
    width: 180px;
    display: block;
    text-align: center;
    font-family: "Agency FB";
    font-size: 32px;
    color: #808080;
    text-align: center;
    padding: 2px 5px 0;
    text-decoration: none;
    border-bottom: 5px solid #00ffff00;
    cursor: pointer;
    transition: 0.4s;
}
.login-helper td {
    text-align: center;
    width: 200px;
    vertical-align: bottom;
}
input.logr{
    width: 180px;
    display: block;
    color: black;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font: bold 22px Calibri;
    border-right: 10px solid orangered;
    border-radius: 4px;
    background-color: #ccc;
    cursor: pointer;
    transition: 0.4s;
}
input.logi:hover {
    border-bottom: 5px solid #00ffff;
    color: #00ffff;
}
input.logr:hover {
    background-color: #aaa;
    border-right: 10px solid red;
}
form.main {
    font: 30px "Agency FB";
    color: #808080;
    margin: 6% 10% 40px;
}

input.data {
    height: 40px;
    width: 100%;
    font-size: 24px;
    text-indent: 10px;
    margin: 10px 0;
    border: 1px solid #bdbdbd; 
    border-radius: 5px;
    background-color: white;
    font: 28px "Agency FB";
    color: #000;
}
input.data::placeholder {
    font: 30px "Agency FB";
    color: #808080aa;
}
ul.login-res {
    list-style-type: none;
}
li.login-res a {
    display: block;
    color: #808080;
    padding: 2px 5px 0;
    text-align: center;
    text-decoration: none;
    font: 30px "Agency FB";
    border-bottom: 5px solid #00ffff00;
    background-color: #e6e6e600;
    transition: 0.4s;
}
li.login-res a:hover {
    border-bottom: 5px solid #00ffff;
    color: #00ffff;
}