h1 {
    text-align: center;
    font-family: "Agency FB";
}

h2.person {
    margin: 40px 0 0 30px;
    font-family: "Agency FB";
    color: white;
}

p.person {
    margin: 10px 0 0 40px;
    text-align: left;
    font-family: "Agency FB";
    font-size: 18px;
    color: white;
}