ul.login {
    width: 80%;
    list-style-type: none;
    margin: 0 15% 10px;
    padding: 0;
    overflow: hidden;
}

p.welcome {
    margin-top: 3px;
    margin-right: 10px;
    height: 30px;
    text-align: right;
    color: #ddd;
    font: bold 20px "Agency FB";
}

li.topnav {
    float: right;
    padding: 0 15px;
}
li.topnav a {
    display: block;
    color: #808080;
    padding: 2px 5px 0;
    text-align: center;
    text-decoration: none;
    font: 30px "Agency FB";
    border-top: 8px solid #00ffff00;
    background-color: #e6e6e600;
    transition: 0.4s;
}
li.topnav a.active {
    border-top: 8px solid #ffcc00;
    color: #ffcc00;
}
li.topnav a:hover:not(.active) {
    border-top: 8px solid #00ffff;
    color: #00ffff;
}
.topnav-divider {
    float: right;
    transform: translateY(12px);
    height: 32px;
    width: 0;
    display: inline;
    border-right: 1px solid #cccccc;
}